#经多次验证，本配置文件中不能使用tab键，必须用空格,注意级联关系
#安全配置,防止恶意注册
security:
  basic:
    enabled: true
  user:
    name: xuesemofa
    password: wangzheshengcun
#端口号，默认eureka的端口为8761,实际上也是自带tomcat的端口号
server:
  port: 9001
#服务注册地址
eureka:
  instance:
    hostname: localhost
#    eureka本身也是一个服务，默认也需要注册，所以需要一下特殊配置
  client:
#  通过禁用以下两个配置标明自己是个server，默认为true
    registerWithEureka: false
    fetchRegistry: false
#    服务地址
    serviceUrl:
      defaultZone: http://xuesemofa:wangzheshengcun@${eureka.instance.hostname}:${server.port}/eureka/
#      启用尤里卡的健康检查
    healthcheck:
      enabled: true
  #    开启ip注册
  preferIpAddress: true
  instance-id: ${spring.cloud.client.ipAddress}:${server.port}